#wrapper {
  position: relative;
  border: 0;
  height: 100%;
  width: 800px;
  margin: 0 auto;
}

#working-canvas {
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
}

#fog-canvas {
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
}